{% extends "website/home.html" %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">Admin Dashboard</h2>
  
    {% if events %}
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for event in events %}
          <div class="col">
            <div class="card h-100 shadow-sm">
              {% include 'website/event_card.html' with event=event %}
  
              <div class="card-body">
                <p><strong>Owner:</strong> {{ event.event_owner }}</p>
  
                <a class="btn btn-danger"
                  href="#"
                  data-id="{{ event.event_id }}"
                  onclick="showConfirmModal(this.dataset.id); return false;">
                  Delete
                </a>
                <form method="POST" action="{% url 'update_event_status' event.event_id %}">
                  {% csrf_token %}
                
                  <fieldset>
                    <label>
                      <input type="radio" name="status" value="accepted"
                        {% if event.status == 'accepted' %}checked{% endif %}>
                      Accept
                    </label>
                
                    <label>
                      <input type="radio" name="status" value="rejected"
                        {% if event.status == 'rejected' %}checked{% endif %}>
                      Reject
                    </label>
                
                    <label>
                      <input type="radio" name="status" value= "review"
                        {% if event.status == 'review' %}checked{% endif %}>
                      In review
                    </label>
                
                  </fieldset>
                
                  <button type="submit" class="btn btn-primary mt-2">Update</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No events found.</p>
    {% endif %}
  </div>
  <div id="confirmModal" style="
      display:none;
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.5);
      justify-content:center;
      align-items:center;
      z-index:9999;
      ">
  <div style="background:white; padding:25px; border-radius:10px; text-align:center;">
    <img src="{% static 'website/images/image1.jpg' %}" width="220"/>
    
    <a id="confirmDeleteBtn" class="btn btn-danger">Yes</a>
    <button type="button" class="btn btn-secondary" onclick="hideConfirmModal()">Cancel</button>
  </div>
</div>
  <script>
    function showConfirmModal(eventId) {
        const modal = document.getElementById('confirmModal');
        const btn = document.getElementById('confirmDeleteBtn');
    
        btn.href = `/admin-dashboard/delete/${eventId}/`;
    
        modal.style.display = 'flex';
    }
    
    function hideConfirmModal() {
        document.getElementById('confirmModal').style.display = 'none';
    }
  </script>
{% endblock %}
