<!doctype html>
<html lang="ar">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Simple Navigation Header -->
    <nav class="navbar navbar-dark bg-dark mb-4 shadow">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'event_list' %}" dir="ltr">
                FARGO EVENT DISCOVERY
            </a>
          
            <div class="d-flex gap-3 align-items-center">
            
            <a href="{% url 'event_list' %}" class="nav-link text-white">Home</a>
            
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                  <a href="{% url 'admin_dashboard' %}" class="nav-link text-white">Admin Dashboard</a>
                {% endif %}
              <a href="{% url 'addEvent' %}" class="nav-link text-white">Add Event</a>
              <a href="{% url 'user_events' %}" class="nav-link text-white">My Events</a>
              <a href="{% url 'logout' %}" class="nav-link text-white">Logout</a> 
            {% else %}
              <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>

<div class="container">
  {% block content %}

  {% endblock %}
</div>
</html>


